<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    <h1>Tech Blog</h1>
    <p>{{formatDate created_at}}</p>
      <nav class="display-flex justify-space-between align-center">
        <a href="/">Home</a>
        {{#if logged_in}}
          <button>Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
        {{#if logged_in}}
          <a href="/dashboard">Dashboard</a>
          {{else}}
          <a href="/login">Dashboard</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <h2>Blogs</h2>
    {{{body}}}
     </main>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>
</html>