{{!-- login form --}}
<form class="form login-form">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h3 class="login-subtitle">Login</h3>
        <div class="card px-5 py-5" id="form1">
          <div class="form-data" v-if="!submitted">
            <div class="forms-inputs mb-4">
              <span>Username</span>
              <input class="input-adj form-input" autocomplete="off" type="text" v-model="email"
                v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                v-on:blur="emailBlured = true" id="username-login">
            </div>
            <div class="forms-inputs mb-4">
              <span>Password</span>
              <input type="password" class="input-adj form-input" autocomplete="off" v-model="password"
                v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                v-on:blur="passwordBlured = true" id="password-login">
            </div>
            <div class="mb-3"> <button type="submit" class="btn btn-dark w-100">Submit</button> </div>
          </div>
          <div class="success-data" v-else>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{{!-- Signup Form --}}
<form class="form signup-form">
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h3 class="login-subtitle">Register</h3>
        <div class="card px-5 py-5" id="form1">
          <div class="form-data" v-if="!submitted">
            <div class="forms-inputs mb-4">
              <span>Username</span>
              <input class="input-adj" autocomplete="off" type="text" v-model="email"
                v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                v-on:blur="emailBlured = true" id="username-signup">
            </div>
            <div class="forms-inputs mb-4">
              <span>Password</span>
              <input class="input-adj" autocomplete="off" type="password" v-model="password"
                v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                v-on:blur="passwordBlured = true" id="password-signup">
            </div>
            <div class="mb-3"> <button type="submit" class="btn btn-dark w-100">Submit</button> </div>
          </div>
          <div class="success-data" v-else>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="/js/login.js"></script>