header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
  font-size: 1.5rem;
  background: #4f77ce;
  color: #fff
}

a {
  color: #1fc3e0;
  text-decoration: none;
  font-weight: bold;
}

#border {
  border: 1px solid #ccc;
  background-color: #7d7d81;
}

.divider {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.color {
  color: #fff;
}

.small-text {
  font-size: 1rem;
}

nav {
  margin: 10px;
}

.nav-style {
  color: #000;
  background-color: #1fc3e0;
  padding: 5px;
  margin-top: 7px;
}

.header-style {
  color: #000;
}

.para {
  border-bottom: #bcf3c1;
}

.login-subtitle {
  color: #fff;
  background-color: #000;
  text-align: center;
  margin-bottom: 15px;

}

.page-title {
  text-align: center;
  text-decoration: underline;
}

h4 {
  padding-top: 10px
}

#comment {
  color: #000;
}

.subtitle {
  margin-top: 25px;
  color: #000;
}

.date {
  font-style: italic;
}

/* bootstrap */
input {
  width: auto
}

.card {
  border: none;
  height: 320px
}

.input-adj {
  width: 100%
}

.forms-inputs {
  position: relative;
  color: black
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px
}

.forms-inputs input {
  height: 50px;
  border: 2px solid #eee
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000
}

.btn {
  height: 50px
}

.success-data {
  display: flex;
  flex-direction: column
}

.bxs-badge-check {
  font-size: 90px
}